
<%= render :partial => 'partials/index' %>
<br>

<div class="keyinfo">
<h1><%= @loo.name %></h1>
<p><%= @loo.address %></p>
</div>
<hr>
<h3>REVIEW</h3>
<p>Please add information about this loo!</p>

</div>
<div class="review-form">
<%= render :partial => 'new' %>
<div>

