<div class="container">
  <div class="navbar navbar-default row">
    <a href="/loos"><span class="glyphicon glyphicon-remove pull-left col-xs-3" aria-hidden="true"></span></a>
    <span class="brand col-xs-6">add loo</a></span>
  </div><br />
  <%= render :partial => 'new' %>
