 <div class="container home-page-container">
  <div class="navbar navbar-default row">
    <span class="pull-left col-xs-3" aria-hidden="true">
	</span>
	<span class="brand col-xs-6">
			account
		</span>
	<a href="/loos/new">
		<span class="pull-right col-xs-2" aria-hidden="true">
			
		</span>
	</a>
  </div>