<div class="container">
	<%= render "partials/about" %>

	<h1>FreePee Club</h1>
	<p>FreePee Club is an application and online community to help people find the cleanest, closest restroom. For many with digestive issues, this is no laughing matter. Our app provides peace of mind and relief.</p> 

	<p>We draw our data about restrooms from commercial and governmental databases. Our app also lets the community update information about restrooms so that users have the latest data.</p>

	<p>FreePee Club originated as a project among four students at General Assembly. They completed the application as part of required work for the Web Development Immersive course, September 2014 class.</p>
	
	<hr />

	<div class="bio">
		<img src="/assets/mugs/george.jpg">
		<p>George Syrop is a Bay Area native finishing his degree at UC Berkeley. He enjoys reading until his eyes hurt and designing solutions to every day problems.</p>
	</div>

	<hr />

	<div class="bio">
		<img src="/assets/mugs/kourosh.jpg" />
		<p>Kourosh Karimkhany is a long-time new media executive. He attended General Assembly to learn more about web development and coding. He intends to use his new knowledge to start a company of his own.</p>
	</div>


	<hr />

	<div class="bio">
		<img src="/assets/mugs/laura.jpg" />
		<p>Laura Kemp ...</p>
	</div>

	<hr />

	<div class="bio">
		<img src="/assets/mugs/myk.jpg" />
		<p>Myk Klemme has been a hacker since 3rd grade. As an adult he has been a marketing consultant and UX/UI architect. He also excels at translating geekspeak to businessspeak.</p>
	</div>
</div>
