<div class="container">
	<div class="navbar navbar-default row">
		<span class="glyphicon glyphicon-cog pull-left col-xs-3" aria-hidden="true"></span>
		<span class="brand col-xs-6">freepee.club</a></span>
		<a href="/loos/new"><span class="glyphicon glyphicon-plus pull-right col-xs-2" aria-hidden="true"></span></a>
	</div>





</div>