
<%= render :partial => 'partials/index' %>
<!-- Button trigger modal -->
<br>
<button type="button" id="launchButton" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch freepee
</button>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" id="modal-close" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">How can we find you?</h4>
      </div>
      <button type="button" class="btn btn-primary current-location-btn" onclick="engine()">Use current location</button>
      <input class="form-control" id="exampleInputPassword2" placeholder="Enter address here" name="address" autofocus>
      <input type="submit" class="btn btn-primary" value="Search by address" onclick="customLocation()">
    </div>
  </div>
</div>
<br>
<div class="loading-text">

</div>
<br>
  <div class="gif-container">
    <!-- this text changes if we're unable to geolocate you -->
    <span id="note"></span> 
  </div>
</div>
<script>
// engine();
function engine() {
  setTimeout(getLocation, 1500);
  $("#launchButton").hide();
  $("#modal-close").click();
  $("#note").html("<img src='/images/asset-loading-walking_man.gif' class='scaling-img'>");
  $("#loading-text").innerHTML("Please hold on...we're finding your location...");
}
//find lat lon location by address input
function customLocation() {
  $("#launchButton").hide();
  $("#modal-close").click();
  var geocoder = new google.maps.Geocoder();
  var address = $("#exampleInputPassword2.form-control").val();
  geocoder.geocode({ 'address': address }, function (results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
          setTimeout(getLocation, 1500);
          var lat = results[0].geometry.location.lat();
          var lon = results[0].geometry.location.lng();
          findClosest(lat, lon);
      $("#note").html("<img src='/images/asset-loading-walking_man.gif' class='scaling-img'>");
      } else {
          alert("Request failed - please enter a valid address.");
      }
    });
  }
  // reverseGeo(data);
  // render gif

var x = document.getElementById("note");
//finding geolocation and sentting text at top of page based on results, calling the showPosition function which gets coords
function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition, showError);
    } else {
        x.innerHTML = "We're sorry, your geolocation is not supported by this browser. Please enter your current address";
    }
}

//finding coords, calling other functions
function showPosition(position) {
    var lat = position.coords.latitude;
    var lon = position.coords.longitude;
    var latlon = position.coords.latitude + "," + position.coords.longitude;
    console.log("lat: "+lat);
    console.log("lon: "+lon);
    findClosest(lat, lon);
}

function showError(error) {
    switch(error.code) {
        case error.PERMISSION_DENIED:
            x.innerHTML = "We're sorry, you have denied the request for Geolocation. Please enter your address, we'll search using that.";
            break;
        case error.POSITION_UNAVAILABLE:
            x.innerHTML = "We're sorry, your location information is unavailable. Please enter your address, we'll search using that.";
            break;
        case error.TIMEOUT:
            x.innerHTML = "We're sorry, the request to get your location timed out. Please enter your address.";
            break;
        case error.UNKNOWN_ERROR:
            x.innerHTML = "We're sorry, we were unable to locate you. Please enter your address, we'll search using that.";
            break;
    }
}

function findClosest(lat, lon){
	// console.log("here's the lat long GLOBAL"+lat +lon);
    $.ajax({
      type: "POST",
      url: "/loos/foursquare",
      data: {
        'fs_data':{
          'lat' : lat,
          'lon' : lon
        }
      },
      success:function(msg){
        // document.body.innerHTML(msg)
        $( "html" ).html( msg );
      },

      error:function(errormessage){
        console.log("Error");
        console.log(errormessage);
      }

    });
}

</script>
