<div class="container">
	
	<br />
	
	<div class="row">
		<span class="col-xs-2"></span>
		<a class="col-xs-2" href="/global/about">about</a>
		<a class="col-xs-2" href="/global/contact">contact</a>
		<a class="col-xs-2" href="/global/terms">terms</a>
		<a class="col-xs-2" href="/global/privacy">privacy</a>
	</div>

	<div class="row">

	</div>

	<div class="row">
		 <button type="button" class="btn btn-warning">logout</button>
	</div>

</div>