*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body{
  background: #f1f1f1;
  font-size: 12px;
  margin: 0;
  padding: 0;
}
.blank{
  background: white;
}

[class*='col-'] { float: left; padding: 0 5px; }
[class*='col-']:last-of-type { float: right; }

.row { max-width: 1200px; margin: auto; }
.row:after { content: ""; display: table; clear: both; }
.row .col-1 { width: 100%; }
.row .col-1-2 { width: 50%; }
.row .col-1-3 { width: 33.3%; }
.row .col-2-3 { width: 66.66667%; }
.row .col-1-4 { width: 25%; }
.row .col-3-4 { width: 75%; }
.row .col-1-5 { width: 20%; }
.row .col-4-5 { width: 80%; }
.row .col-1-6 { width: 16.66667%; }
.row .col-5-6 { width: 83.33333%; }
.row .col-1-7 { width: 14.28571%; }
.row .col-6-7 { width: 85.71429%; }
.row .col-1-8 { width: 12.5%; }
.row .col-7-8 { width: 87.5%; }
.row .col-1-9 { width: 11.11%; }
.row .col-8-9 { width: 88.88889%; }
.row .col-1-10 { width: 10%; }
.row .col-9-10 { width: 90%; }
.row .col-1-11 { width: 9.09091%; }
.row .col-10-11 { width: 90.90909%; }
.row .col-1-12 { width: 8.33%; }
.row .col-11-12 { width: 91.66667%; }
.row .col-1-12 { width: 8.33333%; }
.row .col-2-12 { width: 16.66667%; }
.row .col-3-12 { width: 25%; }
.row .col-4-12 { width: 33.33333%; }
.row .col-5-12 { width: 41.66667%; }
.row .col-6-12 { width: 50%; }
.row .col-7-12 { width: 58.33333%; }
.row .col-8-12 { width: 66.66667%; }
.row .col-9-12 { width: 75%; }
.row .col-10-12 { width: 83.33333%; }
.row .col-11-12 { width: 91.66667%; }

//
// Header
//
header{
  background: white;
  border-top: 5px solid #16C6FD;
  border-bottom: 1px solid #ccc;
  padding: 20px 10px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: start;
  -moz-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  h1,
  nav{
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    margin: 0;
  }
  h1{
    text-decoration:none;
    line-height: 2;
    font-size: 19px;
    .logo{
      padding: 10px 0;
    }
  }
  nav{
    a{
      display: inline-block;
    }
  }
}


//
// Card
//
.card{
  margin: 10px 0;

  .cardHeader{
    background: white;
    border-radius: 4px 4px 0 0;
    border:1px solid #ccc;
    padding: 10px
  }
  .cardContent{
    background: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-width: 0px 1px;
  }
  .cardContent:last-of-type{
    border-bottom: 1px solid #ccc;
    border-radius: 0px 0px 4px 4px;
  }
  .cardContent + .cardContent{
    border-top: 1px solid #ccc;
  }

}

//
// Buttons
//
.button{
  display: inline-block;
  padding: 10px 35px;
  border-radius: 4px;
  margin: 0;
  color: #333;
  font-size: 12px;
  font-weight: 100;
  transition: all .2s linear;
}
.buttonGroup{
  .button{
    border:1px solid #ccc;
    border-radius: 4px 0 0 4px;
    &:nth-child(n+2){
      border-radius: 0px 4px 4px 0;
      margin-left:-1px;
    }
    &:hover{
      background: #f2f2f2;
      text-decoration: none;
    }
  }
}
.buttonColor{
  background: #48C1CC;
  color: white;
  &:hover{
    background: #42A4AD;
    text-decoration: none;
    color: white;
  }
}
//
// Helper classes
//
.textCenter{ text-align: center;}

.tall{ padding-top: 20px !important; padding-bottom: 20px !important;}

.responsive-img{ max-width: 100%;}





//
// Home
//
.home{
  background: #283845;
  hr{
    background: none;
    border: none;
    border-top: 1px solid #4B6174;
    margin: 30px 0;
  }
  .button{
    width: 100%;
    display: block;
  }
  .inputGroup{
    .button{
      color: white;
      padding: 20px;
      box-shadow: none;
      border: none;
      border:1px solid #ccc;
      border-radius: 4px 4px 0 0;
      background: #1B262F;
      border-color: #3C5061;
      &:nth-child(n+2){
        padding: 10px 35px;
        border-radius: 0 0 4px 4px;
        margin-top: -1px;
        border-color: #3C5061;
        background: #111416;
        color: #85A0B7;
        &:hover{
          background: #48C1CC;
          color: white;
          border-color: #48C1CC;
        }
      }
      &:focus{
        background: white;
        border: 1px solid white;
        color: black;
        outline: none;
      }
    }
  }
}


//
// single venue page
//
.venue-img{
  width: 200px;
  height: auto;
  border-radius: 10px;
}
@media (max-width: 480px) {

  .row [class*='col-'] { float: none; width: 100%; padding: 0 10px; }
  }

  .row > .row [class*='col-'] { padding: 0; }
  .row .colCentered { margin: auto; float: none; }
