

/*navbar*/
.navbar {
	margin-bottom: -10px;
	background-color: #D0021B;
	position: relative;
}

.brand {
	padding: 6px 0;
    display: inline-block;
    font-family: 'Arvo';
    color: #FFFFFF;
    font-size: 25px;
    text-align: center;
    margin: 0 auto;
}

.glyphicon {
	color: #FFFFFF;
}

.glyphicon-cog {
	font-size:30px;
	margin-top: 7px;
}

.glyphicon-remove {
	font-size:30px;
	margin-top: 7px;
}

/*search*/

.glyphicon-plus {
	font-size: 30px;
	margin-top: 7px;
}

.form-control {
	display: inline-block;
	width: 50%;
	margin-bottom: 20px
}

.btn-default {
	display: inline-block;
}

.glyphicon-search {
	color: #F0AD4E;
}

.navbar-form {
	font-size: 50px;
	margin-bottom: 0px
}

/*list*/

.list {
}

.loo {

}

body{
	font-family: "avenir";
	font-size: 16px;
}

.review-table td {

	width: 300px;
	padding: 3px;
	text-align: left;
	width: 300px;
}

.main_info {
	position: relative;
	display: inline-block;
	width: 65%;
	line-height: 90%;
	float: left;
	padding-top: 10px;
}

.human_factors {
	display: inline-block;
	width: 10%;
	line-height: 175%;
	position: relative;
	text-align: right;
	float:left;

}

.details {
	display: inline-block;
	width: 20%;
	float: right;
	text-align: right;
}

#baby {
	display: inline-block;
}

#handicap {
	display: inline-block;
}

#cost {
	display: inline-block;
}

#key {
	display: inline-block;
}

/*bios*/
.bio {
	clear: both;
}

.bio img {
	float: left;
	margin-bottom: 20px;
	padding-right: 20px;
}

hr {
	clear: both;
}

/*filter*/

.footer {
	text-align: center;
	margin-bottom: 30px;
}

/*homepage*/

.scaling-img{
	width: 350px;
	margin-top: 30%;
	border-radius: 150%;
}

.note{
	position:absolute;
	border-radius: 50px;
	position: fixed; /* or absolute */
  	top: 50%;
  	left: 50%;
  	margin-top: 50%;
}

.gif-container{
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin-right: -4px;
	position: center;
	border-radius: 50px;
}

#launchButton{
	margin-top: 60%;
	border-radius: 100px;
	height: 154px;
	background-color: rgb(237, 135, 0);
	border: none;
	outline: none;
	cursor: pointer;
}

.home-page-container {
	text-align: center;
}

.current-location-btn {
	display: block;
	margin: 1em auto;
}

#esampleInputPassword2 {
	margin-bottom: 19px;
}


/*REVIEW SUBMIT
*/

#reviewSubmitButton {
	margin: 0 auto;
}

#map-canvas{
width:100%;
height:666px;
}
